
#home-cover{
    width: 100%;
    height: 500px;
    background-image: url(./9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255)
}
.section{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255)
}


.home-heading-cont{
    height :auto;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
}
.home-heading{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    color: rgb(0, 0, 0);
    height :auto;
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

