#nav{
    position: fixed;
    top:0px;
    width:100%;
    height: auto;
    padding:5px;
    

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    background-color: rgba(14, 14, 14, 0.712);
    z-index: 1;
}
.navbtn{
    font-size:25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px;
    padding-right: 35px;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: content-box;
}

.links{
    color:white;
}
.links:hover{
    color:whitesmoke;;

}
